<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personne</title>
</head>
<body>
    <form action="{{ path('app_personne_update', {'id': personne.id}) }}" method="POST">
        <input type="text" name="nom" placeholder="nom" value="{{ personne.nom }}">
        <input type="text" name="prenom" placeholder="prenom" value="{{ personne.prenom }}">
        <input type="text" name="adresse" placeholder="adresse" value="{{ personne.adresse }}">
        <input type="text" name="telephone" placeholder="telephone" value="{{ personne.telephone }}">
        <div style="width: 100%; display: flex; justify-content: space-between; align-items: center;padding-top: 20px;">
            <a href="{{ path('app_personne_list') }}">retour</a>
            <button type="submit">enregistrer</button>
        </div>
    </form>
</body>
</html>
